Flask
Flask-Assets
Flask-Principal
pymongo
python-magic
WebTest==1.3.4
kaa-base
kaa-metadata
rq==0.3.0
PIL
nose
nose-exclude
coverage
Sphinx==1.1.3
pyyaml
-e git://github.com/mediasite/python-video-converter.git#egg=python-video-converter
-e git://github.com/mediasite/openoffice-wrapper.git#egg=openoffice_wrapper-dev
wtforms
repoze.who==2.0
monk==0.5.1
blinker # for Flask signals
