body {
  padding-top: 40px;
}

.users .actions {
  text-align: right;
  width: 100px;
}

#plot {
  width:100%;
  height:600px;
}

table.statistics th.name {
	width: 200px;
}

#domains ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

  #domains ul .btn.remove {
    margin-left: 6px;
  }

    #domains ul li.control-group {
      padding: 0;
      margin: 6px 0;
    }

.users form.remove-user {
  display: inline;
}
