{% from 'utils.html' import render_field %}

{% macro user_form(form, action, legend, submit) -%}
  <form method="POST" action="{{ action }}" class="form-horizontal  user-form">
    <legend>{{ legend }}</legend>
    {{ form.id }}
    {{ render_field(form.name) }}
    {{ render_field(form.token) }}
    {{ render_field(form.has_access_to) }}
    {{ render_field(form.is_aware_of_api_changes) }}

    <div class="control-group" id="domains">
      <label class="control-label" for="{{ form.domains.id }}">{{ form.domains.label.text }}</label>
      <div class="controls">
        {{ form.domains(**kwargs)|safe }}
        <a class="btn" id="add-domain"><i class="icon-plus"></i></a>
      </div>
    </div>
    
    <div class="form-actions">
      <input type="submit" value="{{ submit }}" class="btn" />
    </div>

    <script src="/static/js/user-form.js"></script>
  </form>
{%- endmacro %}
