{% from "_statistics.html" import render_statistics, render_summary_statistics %}
{% extends 'base.html' %}
{% set active_page = 'users' %}


{% block static %}
  {{ super() }}

  {% assets 'statistics_js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
  </script>
{% endblock %}


{% block content %}
  <h3>Статистика пользователя {{ user.name }} <small>за последние 7 дней</small></h3>

  <form action="" method="GET" class="form-horizontal"> 
    <div class="control-group">
        <label class="control-label">Тип контента:</label>
    <div class="controls">
    <select name="type_id">
      <option></option>
      {% for type_id in type_ids %}
      <option value="{{ type_id }}" {% if request.args.type_id == type_id %}selected{% endif %}>
        {{ type_id }}
      </option>
      {% endfor %}
    </select>
    </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn">Показать</button>
    </div>
  </form>

  {% if not statistics %}
    <p>Статистика отсутствует.</p>
  {% else %}
    {{ render_summary_statistics(summary) }}
    {{ render_statistics(statistics) }}
  {% endif %}
{% endblock %}
