{% extends 'base.html' %}

{% set active_page = "users" %}

{% block content %}
  <h3>Пользователи</h3>
  <table class="table  users">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Токен</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a href="{{ url_for('.user_statistics', user_id=user._id) }}">
              {{ user.name }}
            </a>
          </td>
          <td>{{ user.token }}</td>
          <td class="actions">
            <a class="btn  edit-user"
               href="{{ url_for('.user_edit', _id=user._id) }}">
              <i class="icon-edit"></i>
            </a>
            
            <form action="{{ url_for('.user_remove', _id=user._id) }}" method="POST" class="remove-user">
              <button class="btn btn-danger">
                <i class="icon-remove icon-white"></i>
              </button>
            </form<
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ url_for('.user_create') }}" class="btn  add-user">
    Добавить пользователя
  </a>

  <script>
  $(function() {
    $('.remove-user').on('submit', function() {
        return confirm('Точно удалить?');
      });
    });
  </script>
{% endblock %}
